todo.anton415.ru {
  encode gzip zstd

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "same-origin"
  }

  @root path /
  redir @root /todo{?query} 308

  reverse_proxy app:8080
}
